// Then add additional custom code here

html {
  @media screen and (min-width: 2000px) {
    font-size: 120%;
  }
  @media screen and (min-width: 2500px) {
    font-size: 150%;
  }
  @media screen and (min-width: 3000px) {
    font-size: 180%;
  }
  @media screen and (min-width: 3500px) {
    font-size: 250%;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  @media screen and (min-width: 2000px) {
    max-width: 1700px;
  }
  @media screen and (min-width: 2500px) {
    max-width: 2300px;
  }
  @media screen and (min-width: 3000px) {
    max-width: 2600px;
  }
  @media screen and (min-width: 3500px) {
    max-width: 3300px;
  }
}


small,
.small {
  font-size: 85%;
}

.fs-6 { 
  font-size: 1.125rem !important;
}

.fs-7 { 
  font-size: 0.875rem;
}

.fw-500 { 
  font-weight: 500;
}

p { 
  font-size: 1rem;
  font-weight: 400;
}

.list-decimal { 
  list-style: decimal;
  padding-left: 0.9375rem;

  li::marker { 
    color: $gray;
  }

}

// remove focus

button:focus,
.btn:focus {
  box-shadow: unset;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-outline-primary:hover { 
  color: $white !important;
}

// line-height

.lh-small {
  line-height: 0.85;
}

// buttons

.btn {
    position: relative;
  &:active {
    top: 1px;
  }
}

.link { 
  color: #CDCCCA;

  &:hover,
  &:focus,
  &:active,
  &.active { 
    color: $primary !important;
    border: unset;
    outline: unset;
  }
}

// backgrounds

.bg-cover { 
 background-position: center;
 background-size: cover;
 background-blend-mode: overlay;  
}

// sidebar

.sidebar { 
  &-link { 
    text-decoration: unset;
    padding: 0.625rem 1rem;

    font-weight: 500;
    font-size: 1rem;

    svg { 
      color: $gray;
     }

     span { 
      color: $gray;
    }
  
    &.active { 
      svg { 
       color: $primary;
      }
      span { 
        color: $body-color;
      }
    }

    &:hover { 
      svg { 
        color: $primary;
       }
       span { 
         color: $primary;
       }
    }

  }
}


// apexcharts

.apexcharts-legend-marker { 
  height: 0.75rem !important;
  width: 0.75rem !important;
}

.bars .apexcharts-legend-text,
.bars .apexcharts-text { 

  fill: $gray !important;
  color: $gray !important;
  font-size: 0.75rem !important;
}

// date picker

.rdrCalendarWrapper,
.rdrMonth { 
  width: 100%;
}